@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

/* main elements */

/* class elements */

.search-card {
    font-family: 'Amatic SC';
}

.link {
    margin-right: 16px;
    float: right;
}

.link > a {
    color: white;
}

.link > a:hover {
    color: cornflowerblue;
}

/* id elements */

#title {
    padding: 8px;
    font-size: 48px;
    font-family: 'Pacifico';
    margin-bottom: 78px;
}

#title #title-link {
    color:aliceblue;
    text-decoration: none;
}

#title #title-link:hover {
    color: cornflowerblue;
}

#main-text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    margin-bottom: 8px;
}

#main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}

#links {
    font-size: 64px;
    position: fixed;
    bottom: 0;
    right: 0;
    list-style-type: none;
}
